<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:macro name="schunk_pgn64" params="prefix">

<!-- Schunk PGN64 EEF URDF -->

    <link name="${prefix}eef_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://schunk_pgn64_support/meshes/pgn64_closed_visual.stl"/>
            </geometry>
            <material name="eef">
                <color rgba="0.5 0.8 0.5 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://schunk_pgn64_support/meshes/pgn64_closed_collision.stl"/>
            </geometry>
        </collision>
    </link>

    <!-- EEF TCP Defined as the center point between EEF finger tips -->
    <joint name="${prefix}eef_link-eef_tcp" type="fixed">
        <origin xyz="0 0 0.14152" rpy="0 0 0"/>
        <parent link="${prefix}eef_link"/>
        <child link="${prefix}eef_tcp"/> 
    </joint>

    <link name="${prefix}eef_tcp"/>

</xacro:macro>
</robot>